doctype html
html(lang="en")
  head
    title= opts.title
    meta(charset="utf-8")

    each css in opts.css
      link(href=css rel="stylesheet")

    - var families = 'Open+Sans:400,400italic,700,700italic|Ubuntu+Mono:400,700,400italic,700italic'
    link(href='//fonts.googleapis.com/css?family=#{families}' rel='stylesheet' type='text/css')

    script
      | examples=!{JSON.stringify(opts.examples)}

    each js in opts.js
      script(src=js)

  body
    - var sorter = function sort(a, b) { return (a.order || 0) - (b.order || 0) }
    mixin menu(children, depth)
      ul
        if (depth < 3)
          each child in children.sort(sorter)
            if (child.name)
              li: a(href="##{child.name}")
                span= child.title
                if (child.children)
                  +menu(child.children, depth + 1)

    mixin sections(children, depth)
      - depth = Math.max(Math.min(depth, 6), 1)
      each child in children.sort(sorter)
        section(id=child.name)
          if (child.title)
            #{'h' + depth}= child.title
          div
            != child.content
            if (child.children)
              +sections(child.children, depth + 1)

    header
      nav
        img(src=opts.logo alt=opts.title)
        +menu(list, 1)
    main
      +sections(list, 2)
      footer
        | Last modified
    script(src="assets.min.js" data-manual="true")
