base(href=examples.jade, target=examples.target)

each css in examples.css
  link(href=css rel="stylesheet")

each js in examples.js
  script(src=js)

#contentWrapper
  != value

each js in examples.bodyjs
  script(src=js)
